* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
.logo {
  width: 160px;
  height: 100px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 90px;
  background-color: #fff;
  z-index: 999;
  ul {
    font-size: 20px;
    li {
      display: inline-flex;
      padding: 0 12px;
      a {
        color: #676565;
        font-weight: 600;
      }
    }
  }
}

section.first {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 80px 0 0 0;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    h1 {
      font-family: sans-serif;
      font-size: 66px;
      font-weight: 900;
      margin-bottom: 10px;
      margin-left: -60px;
    }
    p {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      margin-left: -60px;
      width: 44%;
    }
    ul {
      position: relative;
      left: 350px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 3fr;
      border-radius: 7px;
      li {
        text-align: left;
        padding: 24px 33px;
        background-color: #fff;
        box-shadow: 10px 10px 17px 4px #f8f1f1;
        &:nth-child(2) {
          border-left: 2px solid #f8f8f8;
          border-right: 2px solid #f8f8f8;
        }
        &:last-child {
          background-color: #cc4145;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          box-shadow: none;
          text-align: center;
          a {
            color: #fff;
          }
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: #000;
          i {
            position: relative;
            top: 0px;
            left: 3px;
            color: #bdbdbd;
            font-size: 12px;
          }
        }
        p {
          all: unset;
          font-size: 12px;
          font-weight: 500;
          color: #9b9b9b;
          display: inline;
          position: relative;
          top: 7px;
        }
      }
    }
  }
  aside img {
    width: 100%;
    height: 62vh;
  }
}

section.second {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e7e7;
  ul {
    padding: 15px 30px;
    margin: 40px 0;
    &:nth-child(2) {
      border-left: 1px solid #cacaca9c;
      border-right: 1px solid #cacaca9c;
    }
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 280px;
      div {
        margin-top: 3px;
        margin-bottom: 3px;
      }
      img {
        width: 40px;
        height: 40px;
      }
      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      p {
        color: #8a8a8a;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

section.three {
  background-color: #fff;
  margin-top: 40px;
  padding: 40px 0;
  h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: #3f3f3f;
  }
  article {
    display: grid;
    grid-template-columns: 40% 60%;
    span.HRLine {
      content: "";
      display: block;
      position: relative;
      height: 2px;
      width: 180px;
      background-color: rgba(0, 0, 0, 0.644);
      left: -196px;
      top: 34px;
    }
    img {
      width: 37vw;
      height: 88%;
    }
    h3 {
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 30px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: #676565;
    }
    div {
      padding: 70px 0px;
      padding-left: 150px;
      padding-right: 400px;
      &:last-child {
        margin: auto;
      }
    }
    aside {
      position: relative;
      right: 190px;
      height: 170px;
      width: auto;
      margin-top: 30px;
      padding: 20px 20px 0 20px;
      background-color: #cc4145;
      color: rgba(255, 255, 255, 0.808);
      h5 {
        all: unset;
        display: block;
        font-size: 15px;
        font-weight: 400;
      }
      h4 {
        all: unset;
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding-top: 10px;
        color: rgba(255, 255, 255, 0.904);
      }
      div {
        all: unset;
        margin-top: 20px !important;
        display: grid;
        grid-template-columns: 50% 50%;
        p {
          text-align: left;
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.555);
          span {
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.795);
          }
        }
      }
      .MoveIconRight {
        position: absolute;
        padding: 20px;
        right: -30px;
        top: 34%;
        color: #555555;
        font-size: 25px;
        background-color: #ebd0cd;
        border-radius: 100px;
      }
    }
  }
}

section.four {
  background-color: #f5e7e7;
  height: 300px;
  width: 100%;
}

section.five {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 80px 150px 0 0;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    article {
      position: relative;
      top: -10px;
      left: 195px;
      height: 440px;
      width: 800px;
      background-color: line;
      border-radius: 7px;
      background: rgb(246, 237, 238);
      background: linear-gradient(
        90deg,
        rgba(246, 237, 238, 0.4) 0%,
        rgba(255, 255, 255, 1) 72%
      );
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      align-items: flex-start;
      p,
      h3,
      h4 {
        padding: 0 100px;
      }
      p {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.9;
        padding-top: 60px;
        color: #3f3f3fcb;
      }
      h3 {
        color: rgba(88, 88, 88, 0.842);
        padding-top: 60px;
        font-size: 26px;
        font-weight: 700;
      }
      h4 {
        color: #676565af;
        padding-top: 6px;
        font-size: 18px;
        font-weight: 200;
      }
    }
  }
  .questionRight {
    width: 100px;
    height: 100px;
    position: relative;
    left: 588px;
    bottom: 94px;
  }
  aside img {
    width: 100%;
    height: 62vh;
  }
}
.ImageLeftArrow {
  all: unset;
  display: flex;
  position: relative;
  right: 58px;
  bottom: 273px;
  z-index: 50;
  a {
    background-color: rgb(65, 65, 65);
    color: rgba(255, 255, 255, 0.753);
    padding: 20px;
    font-size: 30px;
    &:last-child {
      border-left: 1px solid #000;
    }
  }
}

section.six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e7e7;
  padding: 100px 0;
  //   margin: auto 150px;
  text-align: center;
  h6 {
    font-family: sans-serif;
    color: #cc4145;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h5 {
    padding: 30px 0;
    font-family: inherit;
    color: #362a2a;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    width: 40%;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #555555;
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: capitalize;
  }
  input {
    padding: 24px;
    border-radius: 36px;
    border: 1px solid #d6d6d6;
    color: #7a7a7a;
    width: 27vw;
    font-size: 20px;
  }
  .TelegramPlaneForEmailSub {
    position: absolute;
    padding: 10px;
    background-color: #cc4146;
    border-radius: 100px;
    right: 11px;
    top: 12px;
    i {
      color: #fff;
      font-size: 30px;
    }
  }

  input:focus {
    border-radius: 36px !important;
    border: 2px solid #5a5a5a91 !important;
    outline: none;
    box-shadow: none;
  }
  input::placeholder {
    padding-left: 10px;
    font-size: 20px;
    color: #d6d6d6;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    padding: 50px 10px;
    li {
      padding: 0 20px;
      a {
        font-size: 18px;
        color: #676565;
        font-weight: 600;
      }
    }
  }
}

.haveShadow {
  box-shadow: -40vw 7px 13px 10px #eeeeee;
}
.haveborder {
  border-bottom: 2px solid #5f5f5f;
}
